{% extends 'base.html' %}

{% block content %}

<div class="about-format">
    <h1>About us!</h1> 
    <p style="font-size: 25px; margin-top: 50px;">Welcome to our website! We are FAANG Legends. We created this auction website to give Ole Miss students
        a convenient resource to buy and sell their items. We set out to build an auction website that's easier to use and feels more
        seamless than our big name competitors. We hope that you enjoy our website as much as we do!    
    </p>
    <h2 style="margin-top: 150px; margin-bottom: 50px;">Jackson Baker<span class="tab"></span>Jared Gross<span class="tab"></span>Kaysha Watson<span class="tab"></span>Luke Bunch</h2>
</div>

{% endblock content %}


