{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-dark text-light p-5 center">
    <div class="container bg-dark p-5">
        <h1 class="display-4">Welcome to the Auction!</h1>
        <hr>
        {% if not user.is_authenticated %}
        <h4 style="margin-bottom:25px;">To get started, sign up below!</h4>
        <a href="{% url 'accounts:signup' %}" class="btn btn-large btn-primary">Sign Up!</a>
        <p style="margin-top:50px;">Already have an account? Sign in <a href="{% url 'accounts:login' %}"> here </p>
        {% else %}
        <a href="{% url 'accounts:logout' %}" class='btn btn-large btn-primary'>Logout</a>
        {% endif %}
    </div>
</div>

{% endblock content %}

